@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* Variabel warna */
  --color-body-bg : #d8dae2 ;
  --color-white: #fff ;
  --color-light: #eff0f1  ;
  --color-dark: #12122e ;
  
  /* Variabel animasi */
  --transition: all 400ms ease;
  
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--color-body-bg);
  display: grid ;
  place-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: var(--color-dark); 
}


main {
  border: 2px solid black ;
  background: var(--color-light);
  width: 70%;
  padding: 3rem;
  border-radius: 1rem;
}

main > .kategoris {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0 2rem;
  flex-wrap: wrap;
}

main > .kategoris  .kategori {
  background: var(--color-white);
  padding: 0.4rem 1rem ;
  border-radius: 0.7rem ;
  box-shadow: 0px 2px 5px var(--color-dark);
  font-size: 0.8rem;
  color: var(--color-dark);
  transition: var(--transition);
  
}

main > .kategoris  .kategori:hover {
  background: var(--color-dark);
  color: var(--color-light);
}

img {
  display: block; 
  width: 100%;
  object-fit: cover;
}

.galeris {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem ;
}

.galeri {
  display: flex;
  flex-direction: column;
  gap: 1rem ;
  background: var(--color-white);
  padding: 1rem;
  border-radius: 1rem;
  border: 5px solid transparent ; 
  box-shadow: 0px 3px 5px var(--color-dark);
  overflow: hidden;
}

.galeri:hover {
  border-color: var(--color-white) ;
  background: transparent ;
}

/* Kontainer gambar thumbnail */

.gallery_thumbnail >  img {
  aspect-ratio: 3/2;
  border-radius: 0.7rem;
}

/* Kontainer gambar more */